[Unit]
Description=Gunicorn for Pharmacy API
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/pharmacy-software-khawajgan/backend
EnvironmentFile=/home/ubuntu/pharmacy-software-khawajgan/backend/.env
ExecStart=/home/ubuntu/pharmacy-software-khawajgan/backend/.venv/bin/gunicorn -w 1 -k uvicorn.workers.UvicornWorker --bind 127.0.0.1:8000 --access-logfile /home/ubuntu/pharmacy-software-khawajgan/backend/gunicorn-access.log --error-logfile /home/ubuntu/pharmacy-software-khawajgan/backend/gunicorn-error.log app.main:app
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
